/* 
---------------------------------------------
                Navbar Style
--------------------------------------------- 
*/
.nav-body{
    text-decoration: none;
}
.navbar{
    background: crimson; font-family: calibri; 
    padding-right: 15px;padding-left: 15px;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 35px; font-weight: 600; color: white;
}
.navbar li{
    list-style: none; display: inline-block;
}
.navbar li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
.navbar button{
    background-color: rgb(56, 103, 189); margin-left: 10px; 
    border-radius: 10px; padding: 10px; width: 90px;
}
.navbar button a{
    color: white; font-weight: bold; font-size: 15px;
}

/* 
---------------------------------------------
                Homepage body Style
--------------------------------------------- 
*/
.homepage {
    background-image: url('assets\img\tourbd.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust as needed */
    color: #000000; /* Example: Set text color to white for better visibility */
    text-align: center; /* Example: Center align text */
    padding: 50px; /* Example: Add padding for better spacing */
    height: 500px;
}

/* 
---------------------------------------------
                Footer Style
--------------------------------------------- 
*/

.footer-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 10px 0;
    width:100%;
    position:fixed;
    bottom:0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

